main{
    min-height: 100vh;
    margin-top: 70px;
    margin-left: 300px;
    @media (max-width: 991px){
        margin-left: 0px;
    }
    .gat_size{
        width:40px;
        height: 40px;
        border-radius: 50%;
        background: #FF5A1F;
    }
    
}